<div class="container-fluid"
     style="background-color: #fff">
    <h1 class="text-center">Contact</h1>
    <span class="line"></span>
    <div class="container">
    	<!-- left -->
		<div class="left">
			phone number: 0401 688 936 <br/>
			email: tytia77@gmail.com

		</div>

		<!-- right -->
		<div class="right">
			Name:  		<input type="text"><br/>
			Email: 		<input type="text"><br/>
			contact: 	<input type="text"><br/>
			Message: 	<input type="text"><br/>

		</div>
		<div class="text-center">social area</div>

    </div>
</div>
