body{
    padding: 0;
    margin: 0;
}

/*
font-family: 'Chewy', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Ceviche One', cursive; no
font-family: 'Rammetto One', cursive;
*/

.about-header{
    font-family: 'Luckiest Guy', cursive;

}

.portfolio-header,
.contact-header{
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
}


.navbar{
    background-color: rgba(255,255,255,0);
    backdrop-filter: blur(3px);
    border: none;
    padding: 0 15px;
    transition-duration: .5s;
    width: 100%;
}

main{
    position: relative;
    /*top: 70px;*/
}
header{
    position: relative;
    /*max-height: 300px;*/
    overflow: hidden;
}

.image{
    /*filter: blur(5px) opacity(.65);*/
    opacity: .7;
    width: 100%;
    height: auto;
}

.text-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    color: white;
    width: 100%;
    text-transform: uppercase;
}

.squares{
    /*border: 1px solid red;*/
    text-align: center;
    height: 300px;
    padding: 15px;
}

#portfolio,
#contact{
    position: relative;
    top: -50px;
}

.project-card{
    /*padding: 5px;*/
    height: 100%;
    /*border: 1px solid grey;*/
    position: relative;
    border-radius: 5px;
    /*box-shadow: 1px 2px 3px 1px grey;*/
}

.project-card span{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 4px;
}

.project-card span:nth-child(1){
    background-color: red;
    left: 2px;
}
.project-card span:nth-child(2){
    background-color: orange;
    left: 14px;
}
.project-card span:nth-child(3){
    background-color: green;
    left: 26px;
}

.project-card div{

}

.project-card div:nth-of-type(1){
    background-color: #E6E6E6;
    color: grey;
}

.project-card div:nth-of-type(2){
    height: 90%;
    border: 1px solid #E6E6E6;
    border-top: none;
    overflow: hidden;
}

img{
    max-height: 100%;
    width: auto;
}

.hover-detail{
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: rgba(0,0,0,.85)!important;
    color: #fff!important;
    opacity: 0;
    transition-duration: .5s;
    transform: translateY(-100%);
}

.show{
    opacity: 1;
}
