//section headings
@mixin section-header{
    text-transform: capitalize;
    font-family: 'Andika', sans-serif;
    text-align: center;
}

@mixin header-line{
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
    height: 3px;
    background-color: $red;
}

//section items
@mixin section-sub-header{
    font-family: "Trebuchet MS";
    text-transform: capitalize;
}

// category buttons section
@mixin category-container{
    margin: 40px auto;
    text-align: center;
}

@mixin category-button{
    text-transform: capitalize;
    transition-duration: .2s;
    margin: 5px;

    &:focus{
        outline: none;
    }
}
