<div class="app-container">
    <div ng-include="'views/navbar/navbar.html'"></div>

    <main>
        <span id="about"></span>
        <div ng-include="'views/header/header.html'"></div>

        <span id="skills"></span>
        <div ng-include="'views/skill/skill.html'" ng-controller='skillCtrl'></div>

        <span id="portfolio"></span>
        <div ng-include="'views/portfolio/portfolio.html'" ng-controller='projectCtrl'></div>
    </main>

    <div ng-include="'views/footer/footer.html'"></div>
</div>
