<div class="container-fluid skill-container" skill-load style="background-color: #fff">
    <h1>skills</h1>
    <div class="row text-center skill-row">
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/html.png" alt="">
            <h4>html</h4>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/css.png" alt="">
            <h4>css</h4>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/github.png" alt="">

            <h4>javascript</h4>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/sass.png" alt="">

            <h4>scss</h4></div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/bootstrap.png" alt="">
            <h4>bootstrap</h4>
        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/responsive.png" alt="">

            <h4>responsive</h4> </div>


        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/jquery2.png" alt="">
            <h4>jquery</h4>

        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/angular.png" alt="">
            <h4>angularJS</h4>

        </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/jquery2.png" alt="">

            <h4>polymer</h4></div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/jquery2.png" alt="">

            <h4>npm</h4> </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/jquery2.png" alt="">

            <h4>gulp</h4> </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/jquery2.png" alt="">

            <h4>bower</h4> </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/github.png" alt="">

            <h4>git hub</h4> </div>
        <div class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>
            <img src="images/icons/github.png" alt="">

            <h4>git bucket</h4> </div>
    </div>
</div>
