.skill-container{

    h1{
        @include section-header;
    }

    .line{
        @include header-line;
        width: 100px;
    }

    .button-container{
        @include category-container;
        .btn-skills{
            @include category-button;
       }
    }

    .row{
        max-width: 1800px;
        margin: 60px auto;

        div{
            height: 200px;

            h3{
                @include section-sub-header;
            }
        }
    }
}
