<link rel="stylesheet" type="text/css" href="/views/header/header.css" />

<div class="header-container">
    <div class="header-image"></div>
    <div class="header-content">
        <h2 class="text-capitalize">graduate front-end developer</h2>
        <span class="ion-social-html5-outline" style="font-size: 4em; color:orange"></span>
        <span class="ion-social-css3-outline" style="font-size: 4em"></span>
        <span class="ion-social-javascript-outline" style="font-size: 4em"></span>
        <span class="ion-social-nodejs" style="font-size: 4em"></span>
        <span class="ion-alert-circled" style="font-size: 4em"></span>
        <!-- <span class="ion-ios-arrow-down" style="font-size: 4em"></span>
        <span class="ion-ios-arrow-down" style="font-size: 4em"></span> -->

    </div>
    <div class="more-content">
    </div>
</div>
