<div class="header-container">
    <div id="test" class="header-image"></div>
    <div class="header-content">
            <h1 class="text-capitalize header">graduate front-end developer</h1>

            <span class="line"></span>
            <h3 class="text-capitalize">I enjoy using HTML, CSS and Javascript to build web applications !!</h3>
            <!-- <div class="more text-center">
                view projects
            </div> -->

            <div class="row">
                <span class="ion-social-html5-outline col-xs-12 text-center"></span>
                <!-- <span class="ion-social-html5-outline" style="font-size: 6em; color: #D9534F;"></span> -->
                <!-- <span class="ion-social-javascript-outline"></span> -->
                <!-- <span class="ion-social-css3-outline"></span> -->
            </div>

            <button class="btn btn-danger button">view projects</button>

        <!-- <span class="ion-social-nodejs" style="font-size: 4em"></span> -->
        <!-- <span class="ion-alert-circled" style="font-size: 4em"></span> -->
        <!-- <span class="ion-ios-arrow-down" style="font-size: 4em"></span>
        <span class="ion-ios-arrow-down" style="font-size: 4em"></span> -->

    </div>
</div>
