.header-container{
    position: relative;
    height: 100vh;
    width: 100vw;

    .header-image{
        background-image: url('../images/header-image.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        opacity: .4;
        height: 100%;
        animation: blur 6s ease reverse;
    }

    .header-content{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        color: #fff;
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;

        h1, h3{
        }

        h1{
            opacity: 0;
            animation: fade 1s 1s ease forwards;
            font-family: 'Andika', sans-serif;
        }

        .line{
            @include header-line;
            width: 0;
            animation: grow 1s 2s ease forwards;
        }

        h3{
            position: relative;
            top: 15px;
            opacity: 0;
            @include section-sub-header;
            animation: fade 1.5s 3s ease forwards;
        }

        button{
            margin-top: 30px;
            opacity: 0;
            animation: scale .7s 5s ease forwards;

            &:focus{
                outline: none;
            }
        }

        .arrow-container{
            margin-top: 30px;
            opacity: 0;
            animation: scale .7s 5s ease forwards;
            color: $red;


            div{
                position: relative;
                font-size: 2em;
                animation: jump 1.3s 7s ease-in infinite forwards;

                &:nth-child(2){
                    top: -30px;
                }
            }
        }

        .row{
            position: relative;
            top: 20px;

            span{
                opacity: 0;
                animation: fade 1.5s 4s ease forwards;
                color: #fff;
                font-size: 6em;
            }
        }
    }
}

@keyframes blur {
    0% {filter: blur(0)}
    100% {filter: blur(20px)}
}

@keyframes jump {
    0% {transform: translateY(-30px)}
    25% {transform: translateY(0)}
    50% {transform: translateY(-10px)}
    75% {transform: translateY(0)}
    100% {transform: translateY(-10px);}
}

@keyframes fade {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes grow {
    0% {width: 0}
    100% {width: 200px}
}

@keyframes scale {
    0% {opacity: 0; transform: scale(1, 1);}
    50% {opacity: 1; transform: scale(1.5, 1.5);}
    100% {opacity: 1; transform: scale(1, 1)}
}

@media screen and (max-width: 768px) {
    .header-image{
        background-attachment: scroll !important;
    }

    .header,
    .sub-header{
        padding: 0 20px 0 10px;
    }

    .header{
        font-size: 24px;
    }

    .sub-header{
        font-size: 16px;
    }
}
