<div class="header-container">
    <div class="header-image"></div>
    <div class="header-content">
            <h1 class="text-capitalize text-center">graduate front-end developer</h1>
            <div class="row text-center">
                <!-- <span class="ion-social-html5-outline" style="font-size: 6em; color:orange"></span> -->
                <span class="ion-social-html5-outline" style="font-size: 6em;"></span>
                <!-- <span class="ion-social-css3-outline col-xs-4 text-center" style="font-size: 6em; color: #016FBA;"></span> -->
                <!-- <span class="ion-social-javascript-outline col-xs-4 text-center" style="font-size: 6em"></span> -->
            </div>
            <h3 class="text-center">I enjoy using HTML, CSS and Javascript to build web applications !!</h3>
            <!-- <div class="more text-center">
                view projects
            </div> -->
            <button class="btn btn-danger">view projects</button>

        <!-- <span class="ion-social-nodejs" style="font-size: 4em"></span> -->
        <!-- <span class="ion-alert-circled" style="font-size: 4em"></span> -->
        <!-- <span class="ion-ios-arrow-down" style="font-size: 4em"></span>
        <span class="ion-ios-arrow-down" style="font-size: 4em"></span> -->

    </div>
</div>
