.navbar-default .navbar-brand{
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
}

.navbar-default .navbar-brand:hover{
    color: white;
}

.navbar-default .navbar-nav>.active>a{
    color: #D9534F!important;
    background-color: transparent!important;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: #D9534F;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
    color: white!important;
    background-color: rgba(0,0,0,0);
    transition-duration: .3s;
}
.navbar-default .navbar-nav>li>a:hover{
    color: white;
    /*transform: scale(1.3, 1.3);*/
    background-color: rgba(0,0,0,0);
}

.navbar{
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(3px);
    border: none;
    padding: 0 15px;
    transition-duration: .5s;
    width: 100%;
}

.navbar-brand{
    /*font-family: 'Luckiest Guy', cursive;*/
    font-size: 1.5em;
    color: white;
}
