@import "../../style/variables.scss";

// override bootstrap defaults
.navbar-default{
    .navbar-brand{
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;

        &:hover{
            color: #fff;
        }
    }

    .navbar-toggle{
        border-color: transparent;
        transition-duration: .2s;

        &:focus{
            background-color: transparent;
        }

        &:hover{
            background-color: transparent;
            // transform: scale(1.5, 1.5);
        }

        .icon-bar{
            background-color: #fff;
            transition-duration: .2s;
        }

        &[aria-expanded=true]{
            .icon-bar{
                transform-origin: left;

                &:nth-child(2){
                    transform: translateY(13px) rotate(-45deg);
                }

                &:nth-child(3){
                    transform: translateX(100%);
                    opacity: 0;
                }

                &:nth-child(4){
                    transform: translateY(-14px) rotate(45deg);
                }
            }
        }

    }

    // .navbar-toggle[aria-expanded=true]{
    //
    // }

    .navbar-nav{
        .active{
            a{
                color: $red!important;
                background-color: transparent!important;

                &:hover{
                    color: $red;
                    background-color: transparent;
                }
            }
        }


        li{
            a{
                text-transform: capitalize;
                font-weight: bold;
                font-size: 1.1em;
                color: #fff!important;
                background-color: rgba(0,0,0,0);
                transition-duration: .3s;

                &:hover{
                    color: #fff;
                    background-color: rgba(0,0,0,0);
                }
            }
        }
    }
}


.navbar{
    background-color: transparent;
    border: none;
    padding: 0 15px;
    transition-duration: .5s;
    width: 100%;
    transform: translateY(-100%);
    animation: slide-down .5s 6s ease forwards;
}

@keyframes slide-down {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}

@media screen and (max-width: 768px) {
    .navbar{
        background-color: rgba(0,0,0,.8) !important;
    }
}
