.app-container{
    opacity: 0;
    animation: fade-in 1s ease forwards;

    main{
        position: relative;
        background-color: $brown;

        span[id]{
            position: relative;
            top: -50px;
        }

        div.container-fluid{
            min-height: 100vh;
        }
    }
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
