.portfolio-header{
    color: lightgrey !important;
    @include section-header;
}

.squares{
    text-align: center;
    height: 300px;
    padding: 15px;
    padding-top: 70px;

    &:last-of-type{
        margin-bottom: 100px;
    }

    .project-card{
        height: 100%;
        position: relative;
        border-radius: 5px;

        span{
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            top: 4px;

            &:nth-child(1){
                background-color: red;
                left: 2px;
            }

            &:nth-child(2){
                background-color: orange;
                left: 14px;
            }

            &:nth-child(3){
                background-color: green;
                left: 26px;
            }
        }

        div{
            &:nth-of-type(1){
                background-color: #E6E6E6;
                color: grey;
            }

            &:nth-of-type(2){
                height: 90%;
                border: 1px solid #E6E6E6;
                border-top: none;
                overflow: hidden;

                .project-image{
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;


                    .hover-detail{
                        position: absolute;
                        height: 90%;
                        width: 100%;
                        background-color: rgba(0,0,0,.85)!important;
                        // color: #fff!important;
                        border: 1px solid #E5E5E5;
                        opacity: 0;
                        transition-duration: .5s;
                        transform: translateX(-1px);

                        h3{

                            position: relative;
                            top: 15%;

                            a{
                                pointer-events: none;
                                transition-duration: .2s;
                                color: lightgrey;
                                @include section-sub-header;

                                &:visited, &:active, &:focus{
                                    text-decoration: none;
                                }

                                &:hover{
                                    cursor: pointer;
                                    text-decoration: none;
                                    color: $red;
                                }
                            }
                        }
                    }

                    .show{
                        opacity: 1;
                    }
                }
            }
        }


        h3{
            @include section-sub-header;
            color: lightgrey;
        }
    }
}
