<link rel="stylesheet" type="text/css" href="/views/portfolio/portfolio.css" />

<div class="container-fluid">
    <h1 class="text-center portfolio-header">portfolio</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 squares" ng-repeat="project in projects">
            <div class="project-card">
                <span></span>
                <span></span>
                <span></span>
                <div>&nbsp;</div>
                <div style="background-color: {{project.color}}">
                    <!-- <img src="{{project.img}}"></img> -->
                    <div class="project-image" style="background-image: url({{project.img}}); background-color: {{project.color}}"></div>
                    <div class="hover-detail">
                        <h2 class="text-capitalize">{{project.title}}</h2>
                        <h3><a href="https://github.com/TyTia77/{{project.id}}" target="_blank">view source code</a></h3>
                        <h3><a href="https://tytia77.github.io/{{project.id}}" target="_blank">go to site</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
